<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>About | Cricket Player Selection App</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <section id="navbar" style="font-size: 25px;">
      <ul>
        <a href="Index.html"><img class="logo" src="static/logo.png" width="5%" height="auto"></a>
        <li><a href="Contactus.html">CONTACT</a></li>
        <li><a class="active" href="About.html">ABOUT</a></li>
        <li><a href="Index.html">HOME</a></li>
      </ul>
    </section>
    <section id="containers">
      <h1 style="color: white;margin-right: 40px;font-size: 50px;background-color: green;border-radius: 15px; padding: 5px;">SRI LANKA CRICKET TEAM</h1>
    </section>
    <div class="last_con">
      <h1>About Us</h1>
      <p>Welcome to the Cricket Player Selection App, your premier destination for streamlined cricket team selection and player development. Our app is designed to revolutionize the way cricket teams are formed and players are nurtured, empowering coaches, selectors, and players themselves with powerful tools and insights.</p>
      
      <h2>Our Mission</h2>
      <p>Our mission is to democratize cricket player selection and training, making it accessible to teams and players of all levels. We believe that talent should never go unnoticed, and every player deserves the opportunity to showcase their skills and reach their full potential.</p>
      
      <h2>What We Offer</h2>
      <p>With our app, you can:</p>
      <ul id="offeredServices">
        <li>Access comprehensive player profiles and performance metrics.</li>
        <li>Utilize advanced scouting tools to discover hidden talents.</li>
        <li>Customize training programs tailored to individual needs.</li>
        <li>Enhance cricket skills through specialized drills and exercises.</li>
      </ul>
    </div>
        <!--FONT AWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>
<body>
<footer>
<div class="footer">
<div class="row">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-google"></i></a>
<a href="#"><i class="fa fa-linkedin"></i></a>
</div>

<div class="row">
<ul>
<li><a href="Contactus.html">Contact us</a></li>
<li><a href="About.html">About</a></li>
<li><a href="#">Terms & Conditions</a></li>
</ul>
</div>

<div class="row">
Cricket Player Selection App Copyright © 2024 OUSL - All rights reserved || Designed By: Group 6 
</div>
</div>
</footer>
    </body>
