<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>
    <section>
        <img src="static/logo.png" alt="">
        <h1 style="color: white;margin-right: 40px;font-size: 50px;background-color: green;border-radius: 15px;margin-top: 300px;">SRI LANKA CRICKET TEAM
        </h1>
        <div class="form-box">
            <div class="form-value">
                <form method="POST" action="{{url_for('Login')}}">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="email" required>
                        <label>Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <div class="forget">
                        <label><input type="checkbox">Remember Me</label>
                      
                    </div>
                    <input type="submit"name="LOG IN" value="LOG IN" style="width: 200px;height: 40px;margin-left: 50px;border-radius: 15px">
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>