<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/index3.css">
</head>
<body>
    <h1>MODULE 3 AND 4</h1>
    <p1><strong>Training Focus:</strong> Batting technique, consistency, mental preparation,Speed, power hitting, shot selection.<br>
      <strong>Training Modules:</strong><br>
      &emsp;&emsp; <strong>Batting Technique:</strong>Refine shot execution and shot selection for consistent run-scoring.<br>
      &emsp;&emsp; <strong>Mental Preparation:</strong> Develop concentration and focus techniques to maintain consistency.<br>
      &emsp;&emsp; <strong>Video Analysis:</strong>Study own batting footage to identify and rectify technical flaws.<br>
      &emsp;&emsp;<strong>Speed Work:</strong>Improve running between the wickets and reaction time.<br>
      &emsp;&emsp;<strong>Power Hitting Training:</strong> Develop the ability to clear the boundary.<br>
      &emsp;&emsp;<strong>Shot Repertoire:</strong>Expand range of shots to find scoring opportunities.<br>
    </p1><br>
    <p2>
      <strong>Batting Technique:</strong><br>
      &emsp;&emsp;<strong>Technical Drills:</strong><br>
      &emsp;&emsp;&emsp;&emsp;Practice forward defensive shots, backfoot punches, and cover drives in the nets.<br>
      &emsp;&emsp;&emsp;&emsp;Focus on correct grip, stance, and footwork.<br>

      <strong>Consistency:</strong><br>
      &emsp;&emsp;<strong>Target Practice:</strong><br>
      &emsp;&emsp;&emsp;&emsp;Set up cones or markers in the nets as targets.<br>
      &emsp;&emsp;&emsp;&emsp;Aim to hit the targets consistently with various shots for 15 minutes.<br>

      <strong>Mental Preparation:</strong><br>
      &emsp;&emsp;<strong>Visualization Exercise:</strong><br>
      &emsp;&emsp;&emsp;&emsp;Spend 10 minutes visualizing successful batting scenarios, focusing on positive outcomes and confident mindset.<br>

      <strong>Speed:</strong><br>
      &emsp;&emsp;<strong>Interval Sprints:</strong><br>
      &emsp;&emsp;&emsp;&emsp;Sprint at maximum effort for 30 seconds, followed by 1 minute of rest.<br>
      &emsp;&emsp;&emsp;&emsp;Repeat for 10 intervals.<br>

      <strong>Power Hitting:</strong><br>
      &emsp;&emsp;<strong>Medicine Ball Slams:</strong><br>
      &emsp;&emsp;&emsp;&emsp;Perform 3 sets of 12 medicine ball slams, focusing on explosive power.<br>
      &emsp;&emsp;&emsp;&emsp;Rest for 1 minute between sets.<br>

      <strong>Shot Selection:</strong><br>
      &emsp;&emsp;<strong>Match Scenario Drills:</strong><br>
      &emsp;&emsp;&emsp;&emsp;Practice shot selection based on different match scenarios (e.g., powerplay, death overs).<br>
      &emsp;&emsp;&emsp;&emsp;Focus on choosing the right shot for the situation.<br>
    </p2>
</body>
</html>
