<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/index3.css">
</head>
<body>
  <div class="blur-bg">
    <div class="container">
      <div class="content">
        <h1>Wicket-taking and Attack</h1>
        <p1><strong>Training Focus:</strong>Wicket-taking Techniques,Breakthrough Bowling,Advanced Wicket-taking,Speed and Swing,Defensive Bowling<br>
          <strong>Training Modules:</strong><br>
          &emsp;&emsp; <strong>Wicket-taking Techniques:</strong>Work on developing bowling variations such as swing, seam, and spin to create opportunities to take wickets.<br>
          &emsp;&emsp; <strong>Breakthrough Bowling:</strong>Focus on delivering impactful spells aimed at breaking partnerships and taking crucial wickets at key moments of the game.<br>
          &emsp;&emsp; <strong>Advanced Wicket-taking:</strong>Learn to set up batsmen with clever bowling tactics, such as using variations, changes in pace, and deceptive deliveries to outsmart them.<br>
          &emsp;&emsp; <strong>Speed and Swing: </strong>Develop the ability to bowl at high speeds with control while also mastering swing bowling techniques to trouble the batsmen.<br>
        </p1>
      </div>
    </div>
  </div>
</body>
</html>