<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/index3.css">
</head>
<body>
  <div class="blur-bg">
    <div class="container">
      <div class="content">
        <h1>Precision and Consistency</h1>
        <p1><strong>Training Focus:</strong> Precision Bowling,Consistency Training,Dot Ball Maximization,Bowling Discipline<br>
          <strong>Training Modules:</strong><br>
          &emsp;&emsp; <strong>Precision Bowling:</strong>Focus on hitting specific areas consistently, such as off-stump or just outside off, with each delivery to force batsmen into making mistakes.<br>
          &emsp;&emsp; <strong>Consistency Training:</strong>Work on repeating the same action consistently to ensure consistent bowling performance, focusing on rhythm and balance.<br>
          &emsp;&emsp; <strong>Dot Ball Maximization:</strong>Aim to bowl a high percentage of dot balls by maintaining a consistent line and length, forcing the batsman to defend without scoring.<br>
          &emsp;&emsp; <strong>Bowling Discipline: </strong>Train to maintain discipline in bowling plans and execution, adhering to the team strategy and bowling to set field placements.<br>
        </p1>
      </div>
    </div>
  </div>
</body>
</html>