<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/index3.css">
</head>
<body>
  <div class="blur-bg">
    <div class="container">
      <div class="content">
        <h1>Technical Skills</h1>
        <p1><strong>Training Focus:</strong> Short Spell Efficiency,Medium Spell Consistency,<br>Long Spell Stamina,Tight Bowling,Controlled Aggression,Damage Limitation<br>
          <strong>Training Modules:</strong><br>
          &emsp;&emsp; <strong>Short Spell Efficiency:</strong>Focus on bowling short spells with high intensity, aiming for accuracy and maintaining a consistent line and length throughout.<br>
          &emsp;&emsp; <strong>Medium Spell Consistency:</strong>Practice bowling medium-length spells with a focus on maintaining consistent line and length, while varying the pace and using subtle variations to deceive the batsman.<br>
          &emsp;&emsp; <strong>Long Spell Stamina:</strong>Work on improving endurance and stamina through fitness training and bowling extended spells in nets, gradually increasing the number of overs bowled.<br>
          &emsp;&emsp; <strong>Tight Bowling:</strong>Practice bowling economically by focusing on minimizing boundary balls, mixing up deliveries, and applying pressure on the batsman by maintaining a tight line and length.<br>
        </p1>
      </div>
    </div>
  </div>
</body>
</html>