<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/index3.css">
</head>
<body>
  <div class="blur-bg">
    <div class="container">
      <div class="content">
        <h1>Tactics and Strategy</h1>
        <p1><strong>Training Focus:</strong>Run Control Tactics,Field Placement Strategy,<br>Pressure Building,Boundary Control,Variation and Deception<br>
          <strong>Training Modules:</strong><br>
          &emsp;&emsp; <strong>Run Control Tactics:</strong>Develop tactics to control the flow of runs by varying the pace, line, and length according to the match situation, aiming to restrict the scoring opportunities.<br>
          &emsp;&emsp; <strong>Field Placement Strategy:</strong>Learn to set up field placements strategically based on the batsman's weaknesses and the match situation to create pressure and induce mistakes.<br>
          &emsp;&emsp; <strong>Pressure Building:</strong>Focus on building pressure on the batsman by bowling consistent lines and lengths, using attacking field placements, and maintaining a positive body language.<br>
          &emsp;&emsp; <strong>Boundary Control: </strong>Develop strategies to minimize boundaries by bowling to defensive field settings, varying the pace, and bowling tight lines.<br>
        </p1>
      </div>
    </div>
  </div>
</body>
</html>